.banner{
    width: calc(100% + 60px);
    height: fit-content;
    margin: 30px -30px;
    position: relative;
    overflow: hidden;
}
.img{
    width: 100%;
}
.content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 4px);
}
