
.container{
    max-width: 470px;
}

.info{
    font-weight: 700;
    font-size: 90px;
    color: #fff;
    margin-bottom: 45px;
}
.info p{
    font-size: 50px;
}

.form{
    display: grid;
    gap: 30px;
}

.form input{
    padding: 25px;
    border-radius: 25px;
    outline: none;
    border: none;
}
.form .input{
    /* outline: 1px solid red; */
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.671) inset;
}