.container{
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    column-gap: 50px;
    row-gap: 30px;
    grid-auto-rows: 42px;
}
.sort{
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
}

.title{
    font-weight: 600;   
    font-size: 20px;
    align-self: center;
}

.price{
    width: 105px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
}

.select{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    background: #ffffff;
    width: 200px;
    margin-left: 25px;
}

.discount{
    display: none;
}
.checkbox_label{
    display: block;
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    height: 100%;
    width: 42px;
    border-radius: 10px;
}
.icon{
    display: none;
    color: #339933;
    font-size: 42px;
    position: absolute;
    top: 0;
    left: 0;
}
.discount:checked + .checkbox_label .icon{
    display: block;
} 
.hidden{
    display: none;
}

.select,
.checkbox label,
.price{
    font-weight: 500;
    font-size: 16px;
    color: #ACACAC;
}


/* .discount:checked + label::before{
    content: ' ';
    width: 10px;
    height: 25px;
    background-color: #339933;
    display: block;
    position: absolute;
    border: 3px solid white;
    transform: rotate(-45deg);
    border-bottom: none;
    z-index: 1;
    left: -3.7px;
    top: 6.4px;
}
.discount:checked + label::after{
    content: ' ';
    width: 10px;
    height: 45px;
    background-color: #339933;
    display: block;
    position: absolute;
    border: 3px solid white;
    transform: rotate(45deg);
    left: 22px;
    top: -4px;
} */