.container{
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    column-gap: 50px;
    row-gap: 30px;
    grid-auto-rows: 42px;
}
.sort{
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
}

.field{
    padding: 10px;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
}
.title{
    font-weight: 600;   
    font-size: 20px;
    align-self: center;
}
.price{
    width: 105px;
}
.select{
    background: #ffffff;
    width: 200px;
}
.select *:checked{
    color: black;
}
.discount{
    display: none;
}
.checkbox_label{
    display: block;
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    height: 100%;
    width: 42px;
    border-radius: 10px;
}
.icon{
    display: none;
    color: #339933;
    font-size: 50px;
    position: absolute;
    top: -5px;
    left: 0;
}
.discount:checked + .checkbox_label .icon{
    display: block;
} 
.hidden{
    display: none;
}

.select,
.checkbox label,
.price{
    font-weight: 500;
    font-size: 16px;
    color: #ACACAC;
}

.filters_mobile, .close_button{
    display: none;
}


@media (max-width: 768px){
    .close_button{
        display: block;
    }
    .filters_mobile{
        display: grid;
        gap: 15px;
        margin: 30px 0;
    }
    .filter_icon{
        justify-self: end;
        font-size: 35px;
        color: #232323;
    }
    .filter_option{
        justify-self: start;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 3px 5px;
        border-radius: 10px;
        background-color: #339933;
        color: white;
        font-size: 20px;
    }

    .wrapper_container{
        display: none;
        background-color: rgba(0, 0, 0, 0.507);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
    }
    .container{
        margin-top: 100px;
        padding: 50px 30px;
        border-radius: 15px;
        background-color: white;
        position: absolute;
        left: 20px;
        right: 20px;
        grid-template-columns: repeat(auto-fit, 90%);
    }
    .mobile_modal{
        display: block;
    }


    .close_button{
        width: 35px;
        height: 35px;
        font-size: 35px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    .price, .select{
        width: 100%;
    }

    .checkbox_label{
        justify-self: end;
    }
    .select option{
        font-size: 18px;
    }
}



