
.container{
    display: grid;
    grid-template-columns: 1fr 496px;
    gap: 60px;
    margin: 15px 0;
}
.basket_container{
    border-bottom: 1px solid gray;
}


.link{
    text-align: right;
    display: block;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    height: 50px;
}


@media(max-width: 1200px){
    .container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .order{
        width: 70%;
        justify-self: center;
    }
}

@media(max-width: 768px){

    .order{
        width: 100%;
        justify-self: stretch;
    }

}