.container{
    display: grid;
    grid-template-columns: 200px 1fr 1fr auto;
    padding: 30px 0;
    gap: 30px;
    border-top: 1px solid gray;
    position: relative;
    grid-template-areas: 
    "img title     price remove_icon"
    "img count_bar price remove_icon"
    ;
}
.img{
    grid-area: img;
}
.title{
    grid-area: title;
}
.count_bar{
    grid-area: count_bar;
    align-self: self-end;
}
.price{
    grid-area: price;
}
.remove_icon{
    grid-area: remove_icon;
}

.img{
    width: 100%;
    align-self: center;
}
.title{
    font-weight: 600;
    font-size: 18px;
    color: #3A3A3A;
}
.count_bar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 140px;
    height: 40px;
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;
}
.count_bar button{
    background: none;
    border: none;
    outline: none;
    font-size: 32px;
}
.count_bar button:active{
    color: white;
    background: #339933;
}
.count{
    justify-self: center;
    align-self: center;
    font-size: 18px;
}
.price{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}
.cur_price{
    font-weight: 600;
    font-size: 40px;
}
.old_price{
    font-weight: 500;
    font-size: 20px;
    color: #bbb;
    text-decoration: line-through;
}
.hidden{
    display: none;
}
.remove_icon{
    font-weight: 300;
    font-size: 25px;
    color: #3b3b3b;
    cursor: pointer;
}


@media (max-width: 768px){
    .container{
        grid-template-columns: 200px 1fr auto;
        grid-template-areas: 
        "img title      remove_icon"
        "img price      remove_icon"
        "img count_bar  remove_icon"
        ;
    }
    .price{
        justify-content: start;
        gap: 30px;
    }
}