.info{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.final_price{
    font-size: 30px;
}
.full_price{
    font-size: 20px;
    color: #bbbbbb;
    text-decoration: line-through;
}
.discont{
    font-size: 20px;
    color: #FF32A1;
}

.hide .full_price,
.hide .discont{
    display: none;
}
