.container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.menu_left, .menu_rigth{
    display: flex;
    gap: 60px;
    align-items: center;
}
.menu_rigth{
    width: 500px;
    justify-content: space-between;
}
.naw_links{
    display: flex;
    gap: 50px;
}

.container a {
    white-space: nowrap;
    text-decoration: none;
    color: #000;
}
.burger_bar , .burger_xmark{
    display: none;
}

.container .active{
    color: #339933;
}
.basket{
    position: relative;
}
.basket::after{
    content: attr(data-count);
    display: block;
    font-size: 18px;
    color: #339933;
    font-weight: 500;
    position: absolute;
    top: -15px;
    left: 25px;
}


@media (max-width: 768px) {
    .burger_bar , .burger_xmark{
        display: block;
        position: fixed;
        top: 5px;
        right: 5px;
        font-size: 30px;
    }
    .container{
        background-color: rgb(238, 238, 238);
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        padding: 30px;
        justify-content: start;
        transition: .3s;
        z-index: 9999;
    }
    .menu_rigth{
        align-items: start;
        flex-direction: column;
        width: inherit;
        justify-content: space-between;
        font-size: 20px;
        gap: 80px;
    }
    .naw_links{
        display: flex;
        gap: 50px;
        flex-direction: column;
    }
    .burger_menu{
       transform: translate(-100%);
       transition: .3s; 
    }

    .burger_menu .burger_bar{
        transform: translate(40px);
        opacity: 100%;
        transition: .5s; 
    }
    .burger_bar {
        transform: translate(-20px);
        opacity: 0%;
        transition: .5s; 
    }
    .burger_menu .burger_xmark{
        transform: translate(60px);
        opacity: 0%;
        transition: .5s; 
    }
    .burger_xmark{
        transform: translate(-5px);
        opacity: 100%;
        transition: .5s; 
    }

}